@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    font-family: 'Raleway';
}
footer
{
    background-color: #111827;
}
.backgroundcolor
{
    background-color: #0260FF;
}
body::-webkit-scrollbar {
  display: none;
}
.TABLE::-webkit-scrollbar
{
  display: none;
}
@layer base {
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }
}
